
:root{
  --font-1:'Montserrat', sans-serif;
  --font-2: 'Ubuntu', sans-serif;
  --grey: rgb(153,153,153);
  --darkgrey: rgb(100,100,100);
  --color1: #F4B36B;
  --color1-hover: #f8cfa0;
  --color1-hover-dark: #be6c0e;
  --transition: .2s;
}

.App {
}
main{
  padding: 0 5%;
  font-family: var(--font-1);
}
h1, h2, h3{
  font-family: var(--font-2);
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40px;
}

.App-header div:first-of-type{
  padding-left: 20px;
  padding-top: 40vh;
  color: white;
}
.App-header div:first-of-type h1{
  font-size: 70px;
  margin-bottom: 0;
}
.App-header div:nth-of-type(2){
  float: right;
  padding-right: 20px;
  color: white;
}
.App-header {
  background: url('/images/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.App-link {
  color: #61dafb;
}

/* about */
article#about div.col-md-4 img{
  width: 100%;
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* weather project */
.weather-box{
  border-radius: 5px;
  padding: 15px;
  background: url('/images/air-atmosphere-blue.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.weather-box form{
  display: inline-flex;
  width: 86%;
}
.weather-box input{
  background-color: inherit;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 31px;
  margin-top: 5px;
  font-family: var(--font-1);
}
.weather-box input:focus{
    outline: none;
}
::placeholder{
  color: var(--color-darkgrey);
  font-size: 24px;
  font-family: var(--font-1);
}
.weather-box button{
  color: white;
  font-size: 28px;
  background-color: inherit;
  border: none;
  transition-duration: var(--transition);
  margin-top: 19px;
}
.weather-box button[type=submit] { 
  float: left;
}
.weather-box button#delete {
  float: right;
}
.weather-box button:hover{
  cursor: pointer;
  transform: scale(1.09);
  transition-duration: var(--transition);
}
.weather-div{
  margin-top: 8%;
  width: 500px;
  background-color: var(--color-blue);
  display: inline-block;
  border-radius: 10px;
}
.current-weather{
  height: 150px;
  color: white;
}
.current-weather h1{
  font-size: 135px;
  font-weight: 100;
  float: right;
}
.current-weather sup{
  font-size: 32px;
  vertical-align: super;
}
.current-weather .col-xs-5{
  margin-top:40px;
  font-size: 23px;
}
.forecast{
  display: inline-flex;
  text-align: center;
  color: white;
}
.forecast div{
  margin: 0 10px;
}
.forecast div h1{
  font-size: 23px;
  margin-bottom: -5px;
}
.forecast div img{
  margin-bottom: -18px;
  height: 70px;
}
.forecast div p{
  font-size: 18px;
}
/* parks project */
div.park-form form.park-search select{
  font-size: 20px;
  height: 40px;
}
div.park-form form.park-search select:hover{
  cursor: pointer;
}
div.park-form form.park-search{
  padding: 15px;
  background-color: #F4B36B;
  border-radius: 5px;
}
div.park-form form.park-search button{
  font-size: 36px;
  float: right;
  background-color: transparent;
  border: none;
  transition-duration: var(--transition)

}
div.park-form form.park-search button:hover{
  transform: scale(1.09);
  transition-duration: var(--transition)
}
button.search-again{
  color: white;
  font-weight: bold;
  background: var(--color1);
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid white;
  padding: 5px 15px;
  transition-duration: var(--transition);
}
button.search-again:hover{
  background-color: white;
  color: black;
  border: 2px solid var(--color1);
  transition-duration: var(--transition);
}
ul.park-list{
  list-style: none;
  padding: 0;
}
ul.park-list li{
  font-size: 20px;
  padding: 8px 0;
}
ul.park-list li button{
  font-size: 16px;
}
ul.park-list li button:first-of-type{
  margin: 0 8px;
  color: var(--color1);
  border: none;
  font-weight: bold;
}
ul.park-list li button:first-of-type:hover{
  color: var(--color1-hover-dark);
}

ul.park-list li button:nth-of-type(2){
  display: block;
  margin-top: 4px;
  border: 2px solid var(--color1);
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: var(--transition);

}
ul.park-list li button:nth-of-type(2):hover{
  background-color:var(--color1);
  color: white;
  transition-duration: var(--transition);

}
div.forecast-div{
  border-bottom: solid 2px;
  color: black;
}
div.forecast-div p, div.forecast-div a{
  font-size: 16px;
}
div.forecast-div p.one-forecast{
  font-weight: bold;
  margin-bottom: 0;
}
div.forecast-div div div p:nth-of-type(1){
  font-weight: bold;
  margin-bottom: 0;
}
div.forecast-div button{
  border: none;
  font-weight: bold;
  color: var(--color1-hover-dark);
  padding: 10px;
  font-size: 18px;
}
div.forecast-div button:hover{
  color: var(--color1);
}
div.park-favs button{
  margin-right: 10px;
  background: #333;
  border: solid #333 2px;
  border-radius: 4px;
  color: var(--color1);
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
}
div.park-favs{
  border-bottom: 2px solid black;
}
div.park-favs button:hover{
  background: white;
  color: black;
  border: var(--color1) solid 2px;
}
div.park-favs a{
  font-size: 18px;
}

