
:root{
  --font-1:'Montserrat', sans-serif;
  --font-2: 'Ubuntu', sans-serif;
  --grey: rgb(153,153,153);
  --darkgrey: rgb(100,100,100);
}

.App {
}
main{
  padding: 0 20px;
  font-family: var(--font-1);
}
h1, h2, h3{
  font-family: var(--font-2);
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40px;
}

.App-header div:first-of-type{
  padding-left: 20px;
  padding-top: 40vh;
  color: white;
}
.App-header div:first-of-type h1{
  font-size: 70px;
  margin-bottom: 0;
}
.App-header div:nth-of-type(2){
  float: right;
  padding-right: 20px;
  color: white;
}
.App-header {
  background: url('/images/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.App-link {
  color: #61dafb;
}

/* about */
article#about div.col-md-4 img{
  width: 100%;
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* weather project */
.weather-box form{
  display: inline-flex;
  width: 86%;
}
.weather-box input{
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--darkgrey);
  color: var(--darkgrey);
  font-size: 31px;
  margin-top: 5px;
  font-family: var(--font-1);
}
.weather-box input:focus{
    outline: none;
}
::placeholder{
  color: var(--color-darkgrey);
  font-size: 24px;
  font-family: var(--font-1);
}
.weather-box button[type=submit] {
  color: var(--color-darkergrey);
  font-size: 20px;
  margin-right: 25px;
  background-color: inherit;
  border: none;
}
.weather-box button#delete {
    color: var(--color-darkergrey);
    background-color: transparent;
    border: none;
    font-size: 29px;
}
.weather-box button:hover{
  cursor: pointer;
}
.weather-div{
  margin-top: 8%;
  width: 500px;
  background-color: var(--color-blue);
  display: inline-block;
  border-radius: 10px;
}
.current-weather{
  height: 150px;
  color: black;
}
.current-weather h1{
  font-size: 135px;
  font-weight: 100;
  float: right;
}
.current-weather sup{
  font-size: 32px;
  vertical-align: super;
}
.current-weather .col-xs-5{
  margin-top:40px;
  font-size: 23px;
}
.forecast .col-xs-2 h1{
  font-size: 23px;
  color: var(--color-grey);
  margin-bottom: -5px;
}
.forecast .col-xs-2 img{
  margin-bottom: -18px;
  height: 70px;
}
.forecast .col-xs-2 p{
  font-size: 18px;
}



