
:root{
  --font-1:'Montserrat', sans-serif;
  --font-2: 'Ubuntu', sans-serif;
}

.App {
}
main{
  padding: 0 20px;
  font-family: var(--font-1);
}
h1, h2, h3{
  font-family: var(--font-2);
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40px;
}

.App-header div:first-of-type{
  padding-left: 20px;
  padding-top: 40vh;
  color: white;
}
.App-header div:first-of-type h1{
  font-size: 70px;
  margin-bottom: 0;
}
.App-header div:nth-of-type(2){
  float: right;
  padding-right: 20px;
  color: white;
}
.App-header {
  background: url('/images/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.App-link {
  color: #61dafb;
}

/* about */
article#about div.col-md-4 img{
  width: 100%;
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* weather project */
input{
  background-color: inherit;
  border: none;
  color: var(--color-darkgrey);
  font-size: 31px;
  margin-top: 5px;
  font-family: var(--font);
}
input:focus{
    outline: none;
}
::placeholder{
  color: var(--color-darkgrey);
  font-size: 24px;
  font-family: var(--font);
}
hr{
  width: 80%;
  display: inline-block;
  border-color: var(--color-grey);
}
.forecast-date{
  font-size: 23px;
  color: var(--color-grey);
}
.forecast-high{
  font-size: 18px;
  font-weight:900;
}
.forecast-low{
  font-size: 16px;
}
.weather-div{
  margin-top: 8%;
  width: 500px;
  background-color: var(--color-blue);
  display: inline-block;
  border-radius: 10px;
}
.current-weather{
  height: 150px;
  color: white;
}
#delete{
  z-index: 99;
  color: var(--color-darkergrey);
  background-color: transparent;
  border: none;
  position: relative;
  top: -31px;
  right: -400px;
  font-size: 20px;
}
#mag-icon {
  color: var(--color-darkergrey);
  font-size: 20px;
  display: inline;
  margin-right: 25px;
  background-color: inherit;
  border: none;
}
#mag-icon, #delete:hover{
  cursor: pointer;
}
#current-temp{
  font-size: 135px;
  bottom: 54px;
  font-weight: 100;
  left: 21%;
  position: relative;
  display: flex;
}
#temp-f{
  position: relative;
  display: flex;
  left: 52%;
  font-size: 32px;
  margin-top: -211px;
}
#current-desc{
  position: relative;
  display: flex;
  left: 56%;
  margin-bottom: -76px;
  font-size: 18px;
}
#humidity{
  position: relative;
  display: flex;
  left: 56%;
  font-size: 18px;
}

.icon{
  margin-bottom: -27px;
  height: 70px;
}
.forecast{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.forecast-each{
  width: 20%;
}
